<!DOCTYPE html>
<html lang="pt-br">

<style>
    h4 {
        margin-left: 50%;
        margin-right: 5%;
        margin-top: 10%;
        line-height: 160%;
        text-align: justify;
    }
</style>

<head>
    
    <title>Teste de site</title>

<div>
    {% include 'options.html' %}
</div>

<h4>Bem-vindo ao nosso site de representação comercial. Somos uma empresa especializada em oferecer soluções de vendas para diversos segmentos do mercado. Temos uma equipe qualificada e experiente, que busca entender as necessidades dos nossos clientes e oferecer as melhores opções de produtos e serviços. Entre em contato conosco e saiba mais sobre como podemos ajudar o seu negócio a crescer.</h4>



</body>
</html>
