<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af841111b3569f9efeb2f422b5ec24cc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_af841111b3569f9efeb2f422b5ec24cc" ></div>
        
</body>
<script>
    
    
            var map_af841111b3569f9efeb2f422b5ec24cc = L.map(
                "map_af841111b3569f9efeb2f422b5ec24cc",
                {
                    center: [-30.033056, -51.23],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_61354075e9554f3d3d2eb4a7b944d533 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
            var circle_marker_0d0b29a4594b79b7bbcfdbf8dbbd00f0 = L.circleMarker(
                [-30.1850987, -51.1747929],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_98686048dfab76f755a2454e3835e852 = L.popup({"maxWidth": "100%"});

        
            
                var html_b15261eccc6fdf7ca94be94f1680bc44 = $(`<div id="html_b15261eccc6fdf7ca94be94f1680bc44" style="width: 100.0%; height: 100.0%;">FABIO BANDEIRA DA SILVEIRA</div>`)[0];
                popup_98686048dfab76f755a2454e3835e852.setContent(html_b15261eccc6fdf7ca94be94f1680bc44);
            
        

        circle_marker_0d0b29a4594b79b7bbcfdbf8dbbd00f0.bindPopup(popup_98686048dfab76f755a2454e3835e852)
        ;

        
    
    
            var circle_marker_46215cc94b04aadad316ba6d9fc5b6d5 = L.circleMarker(
                [-30.0439258, -51.2209711],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_3c12c6aa4c603d0297c993ed99162596 = L.popup({"maxWidth": "100%"});

        
            
                var html_6c5356638e79dc2e89a501c53de7d644 = $(`<div id="html_6c5356638e79dc2e89a501c53de7d644" style="width: 100.0%; height: 100.0%;">FERRAGEM FRATELLI LTDA</div>`)[0];
                popup_3c12c6aa4c603d0297c993ed99162596.setContent(html_6c5356638e79dc2e89a501c53de7d644);
            
        

        circle_marker_46215cc94b04aadad316ba6d9fc5b6d5.bindPopup(popup_3c12c6aa4c603d0297c993ed99162596)
        ;

        
    
    
            var circle_marker_a87ae54fdf754ed6cbc13ee0c9673d1b = L.circleMarker(
                [-30.0808021, -51.2240706],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_e0c9cbc953ed546e8329540d1d316e20 = L.popup({"maxWidth": "100%"});

        
            
                var html_f93d2f784362cad6f9816586c17ca5d1 = $(`<div id="html_f93d2f784362cad6f9816586c17ca5d1" style="width: 100.0%; height: 100.0%;">SHAIANE DE FREITAS SILVA</div>`)[0];
                popup_e0c9cbc953ed546e8329540d1d316e20.setContent(html_f93d2f784362cad6f9816586c17ca5d1);
            
        

        circle_marker_a87ae54fdf754ed6cbc13ee0c9673d1b.bindPopup(popup_e0c9cbc953ed546e8329540d1d316e20)
        ;

        
    
    
            var circle_marker_8ef18c62e2780145671b1abaf16fbd24 = L.circleMarker(
                [-29.5322856, -51.17719],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0df670f0e36e356e7aa1dfebc24fb6a7 = L.popup({"maxWidth": "100%"});

        
            
                var html_0ca56ede81c2eab38d4cd1248e0482ef = $(`<div id="html_0ca56ede81c2eab38d4cd1248e0482ef" style="width: 100.0%; height: 100.0%;">FERRAGEM MERLO LTDA</div>`)[0];
                popup_0df670f0e36e356e7aa1dfebc24fb6a7.setContent(html_0ca56ede81c2eab38d4cd1248e0482ef);
            
        

        circle_marker_8ef18c62e2780145671b1abaf16fbd24.bindPopup(popup_0df670f0e36e356e7aa1dfebc24fb6a7)
        ;

        
    
    
            var circle_marker_8843e2f3de86b85aa7cc449daed75363 = L.circleMarker(
                [-30.1850987, -51.1747929],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_bd4105264bd40189a4b4d129a6112db8 = L.popup({"maxWidth": "100%"});

        
            
                var html_9fc4b7eb7509473212b66b0274f95460 = $(`<div id="html_9fc4b7eb7509473212b66b0274f95460" style="width: 100.0%; height: 100.0%;">BALESTRIN MATERIAIS DE CONSTRUCAO L</div>`)[0];
                popup_bd4105264bd40189a4b4d129a6112db8.setContent(html_9fc4b7eb7509473212b66b0274f95460);
            
        

        circle_marker_8843e2f3de86b85aa7cc449daed75363.bindPopup(popup_bd4105264bd40189a4b4d129a6112db8)
        ;

        
    
    
            var circle_marker_b8cf85f53ccfaf8b5a5043bfdcbd2fc3 = L.circleMarker(
                [-30.2129683, -51.1796355],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_2828448d522f85c4e8af2f1fd7f3d826 = L.popup({"maxWidth": "100%"});

        
            
                var html_275a3a57dde8c2b9c9580dfc7ba0b9d2 = $(`<div id="html_275a3a57dde8c2b9c9580dfc7ba0b9d2" style="width: 100.0%; height: 100.0%;">R T LESSA CIA LTDA</div>`)[0];
                popup_2828448d522f85c4e8af2f1fd7f3d826.setContent(html_275a3a57dde8c2b9c9580dfc7ba0b9d2);
            
        

        circle_marker_b8cf85f53ccfaf8b5a5043bfdcbd2fc3.bindPopup(popup_2828448d522f85c4e8af2f1fd7f3d826)
        ;

        
    
    
            var circle_marker_848175d23092c4bf33d16ae7323d58df = L.circleMarker(
                [-29.9007846, -51.0693859],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0ca3cc9d661ecacbaee1d8ed965e5ce3 = L.popup({"maxWidth": "100%"});

        
            
                var html_177533f964cb95956ccd72aafbfee709 = $(`<div id="html_177533f964cb95956ccd72aafbfee709" style="width: 100.0%; height: 100.0%;">AMARILDO ALBINO LOREGIAN</div>`)[0];
                popup_0ca3cc9d661ecacbaee1d8ed965e5ce3.setContent(html_177533f964cb95956ccd72aafbfee709);
            
        

        circle_marker_848175d23092c4bf33d16ae7323d58df.bindPopup(popup_0ca3cc9d661ecacbaee1d8ed965e5ce3)
        ;

        
    
    
            var circle_marker_76c2d9ff77cb1e6a8a2e72b217717af2 = L.circleMarker(
                [-30.0414732, -51.2172006],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_7dca087f3d20dd940368c10aede41802 = L.popup({"maxWidth": "100%"});

        
            
                var html_24684e18c3b990143defd92b2428e44b = $(`<div id="html_24684e18c3b990143defd92b2428e44b" style="width: 100.0%; height: 100.0%;">FERRAG MACAGNAN LUSSANI FILHOS LTDA</div>`)[0];
                popup_7dca087f3d20dd940368c10aede41802.setContent(html_24684e18c3b990143defd92b2428e44b);
            
        

        circle_marker_76c2d9ff77cb1e6a8a2e72b217717af2.bindPopup(popup_7dca087f3d20dd940368c10aede41802)
        ;

        
    
    
            var circle_marker_f45a783191fb63d57b18782a2afd67cf = L.circleMarker(
                [-29.9171482, -51.0812876],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0b743b0811ba3a110673b1973e30696e = L.popup({"maxWidth": "100%"});

        
            
                var html_35bda30632bd5159904eab624418164f = $(`<div id="html_35bda30632bd5159904eab624418164f" style="width: 100.0%; height: 100.0%;">MORO FRAGA MATS DE CONSTRUCAO LTDA</div>`)[0];
                popup_0b743b0811ba3a110673b1973e30696e.setContent(html_35bda30632bd5159904eab624418164f);
            
        

        circle_marker_f45a783191fb63d57b18782a2afd67cf.bindPopup(popup_0b743b0811ba3a110673b1973e30696e)
        ;

        
    
    
            var circle_marker_4464a0928a3e9d0ca94e76778c54df83 = L.circleMarker(
                [-29.985247, -51.1092939],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_c7f6bef5ff625065e99c681116f07939 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf12dd1c1f099c4507113dc8e0f299dc = $(`<div id="html_bf12dd1c1f099c4507113dc8e0f299dc" style="width: 100.0%; height: 100.0%;">COMERCIAL GAUCHA DE FERRAGENS LTDA</div>`)[0];
                popup_c7f6bef5ff625065e99c681116f07939.setContent(html_bf12dd1c1f099c4507113dc8e0f299dc);
            
        

        circle_marker_4464a0928a3e9d0ca94e76778c54df83.bindPopup(popup_c7f6bef5ff625065e99c681116f07939)
        ;

        
    
    
            var circle_marker_3c2d3daa67de23c94ca79aacd59e5ad2 = L.circleMarker(
                [-29.9063797, -50.0909266],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_f0ea4e9a6084cea7983a205b3af5cda2 = L.popup({"maxWidth": "100%"});

        
            
                var html_2b3488138a78773bd9bdaff397d4d7da = $(`<div id="html_2b3488138a78773bd9bdaff397d4d7da" style="width: 100.0%; height: 100.0%;">FERRAGEM E TINTAS SOUTIL LTDA ME</div>`)[0];
                popup_f0ea4e9a6084cea7983a205b3af5cda2.setContent(html_2b3488138a78773bd9bdaff397d4d7da);
            
        

        circle_marker_3c2d3daa67de23c94ca79aacd59e5ad2.bindPopup(popup_f0ea4e9a6084cea7983a205b3af5cda2)
        ;

        
    
    
            var circle_marker_a9de1a6d78c223f450800185d39f011a = L.circleMarker(
                [-30.0726361, -51.2321289],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_31e6f82ff9efad5eee7d7a7e5fa311bb = L.popup({"maxWidth": "100%"});

        
            
                var html_7021f8b17cefd02d98b93d65b42aee16 = $(`<div id="html_7021f8b17cefd02d98b93d65b42aee16" style="width: 100.0%; height: 100.0%;">LABOUR SAFETY ENGENHARIA LTDA</div>`)[0];
                popup_31e6f82ff9efad5eee7d7a7e5fa311bb.setContent(html_7021f8b17cefd02d98b93d65b42aee16);
            
        

        circle_marker_a9de1a6d78c223f450800185d39f011a.bindPopup(popup_31e6f82ff9efad5eee7d7a7e5fa311bb)
        ;

        
    
    
            var circle_marker_e2322a6175cbc5151364c417639acadd = L.circleMarker(
                [-30.10725295044248, -51.246061725663715],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_9a5d4cc7060db615f242572dd20b8387 = L.popup({"maxWidth": "100%"});

        
            
                var html_657c1745a9fefd7552f7c343383370d2 = $(`<div id="html_657c1745a9fefd7552f7c343383370d2" style="width: 100.0%; height: 100.0%;">MATS DE CONSTRUCAO ZONA SUL LTDA</div>`)[0];
                popup_9a5d4cc7060db615f242572dd20b8387.setContent(html_657c1745a9fefd7552f7c343383370d2);
            
        

        circle_marker_e2322a6175cbc5151364c417639acadd.bindPopup(popup_9a5d4cc7060db615f242572dd20b8387)
        ;

        
    
    
            var circle_marker_ce7845d630467d47c1a4fee0c4e7af02 = L.circleMarker(
                [-30.1385368, -51.2204503],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_7f0034b12011ac1128e9093aeb441128 = L.popup({"maxWidth": "100%"});

        
            
                var html_e008730efcaa760750a3073e708c374b = $(`<div id="html_e008730efcaa760750a3073e708c374b" style="width: 100.0%; height: 100.0%;">MATS DE CONSTRUCAO ZONA SUL LTDA</div>`)[0];
                popup_7f0034b12011ac1128e9093aeb441128.setContent(html_e008730efcaa760750a3073e708c374b);
            
        

        circle_marker_ce7845d630467d47c1a4fee0c4e7af02.bindPopup(popup_7f0034b12011ac1128e9093aeb441128)
        ;

        
    
    
            var circle_marker_abbe60277eae5b783a609543f2ea3bd5 = L.circleMarker(
                [-30.078143, -51.0497985],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0d9a674b39131d14cc9df8ffdfc53795 = L.popup({"maxWidth": "100%"});

        
            
                var html_a49465636930fbd8f2446490d96a3a3b = $(`<div id="html_a49465636930fbd8f2446490d96a3a3b" style="width: 100.0%; height: 100.0%;">FRANCISCO PAPA</div>`)[0];
                popup_0d9a674b39131d14cc9df8ffdfc53795.setContent(html_a49465636930fbd8f2446490d96a3a3b);
            
        

        circle_marker_abbe60277eae5b783a609543f2ea3bd5.bindPopup(popup_0d9a674b39131d14cc9df8ffdfc53795)
        ;

        
    
    
            var circle_marker_3053fe57c26776efa00db550569590b6 = L.circleMarker(
                [-30.15919, -51.1606898],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0a5ceab4f7ff7023794e68c99e487797 = L.popup({"maxWidth": "100%"});

        
            
                var html_c14bfd118d16e93dbd10e41b512d0895 = $(`<div id="html_c14bfd118d16e93dbd10e41b512d0895" style="width: 100.0%; height: 100.0%;">FERRAGEM BRASCOFER LTDA</div>`)[0];
                popup_0a5ceab4f7ff7023794e68c99e487797.setContent(html_c14bfd118d16e93dbd10e41b512d0895);
            
        

        circle_marker_3053fe57c26776efa00db550569590b6.bindPopup(popup_0a5ceab4f7ff7023794e68c99e487797)
        ;

        
    
    
            var circle_marker_1144d17749c674315ae788256def57c9 = L.circleMarker(
                [-30.0735409, -51.2308347],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_cdda236cc6dff965e55b30457dbc33d4 = L.popup({"maxWidth": "100%"});

        
            
                var html_437018afb8d0ed0f67b9648f31705185 = $(`<div id="html_437018afb8d0ed0f67b9648f31705185" style="width: 100.0%; height: 100.0%;">COMERCIO CASA DO MATERIAL ELETRICO</div>`)[0];
                popup_cdda236cc6dff965e55b30457dbc33d4.setContent(html_437018afb8d0ed0f67b9648f31705185);
            
        

        circle_marker_1144d17749c674315ae788256def57c9.bindPopup(popup_cdda236cc6dff965e55b30457dbc33d4)
        ;

        
    
    
            var circle_marker_633154cb70dfb93d0dd79e8c1d6f852e = L.circleMarker(
                [-30.0671301, -51.0962506],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_a5d40641c0de6ed3f314568b5dc50cd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_fefea975e779fe6d406b33cb67a191f9 = $(`<div id="html_fefea975e779fe6d406b33cb67a191f9" style="width: 100.0%; height: 100.0%;">CALVI MATS DE CONSTRUCAO LTDA</div>`)[0];
                popup_a5d40641c0de6ed3f314568b5dc50cd2.setContent(html_fefea975e779fe6d406b33cb67a191f9);
            
        

        circle_marker_633154cb70dfb93d0dd79e8c1d6f852e.bindPopup(popup_a5d40641c0de6ed3f314568b5dc50cd2)
        ;

        
    
    
            var circle_marker_3427a93a093b797dd2cc668268ba1068 = L.circleMarker(
                [-30.1049126, -51.1151539],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_fd5485bb7c38dbf88b45b1e79694a26d = L.popup({"maxWidth": "100%"});

        
            
                var html_cc3dd56a28715998c688e2bf5b216dce = $(`<div id="html_cc3dd56a28715998c688e2bf5b216dce" style="width: 100.0%; height: 100.0%;">ANILDO JOSE DECARLI</div>`)[0];
                popup_fd5485bb7c38dbf88b45b1e79694a26d.setContent(html_cc3dd56a28715998c688e2bf5b216dce);
            
        

        circle_marker_3427a93a093b797dd2cc668268ba1068.bindPopup(popup_fd5485bb7c38dbf88b45b1e79694a26d)
        ;

        
    
    
            var circle_marker_5e7e9a1b9bd135709b177a94bcd00107 = L.circleMarker(
                [-30.0951234, -51.2257355],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_cef00e1902e93c99b9b0d4a27913397b = L.popup({"maxWidth": "100%"});

        
            
                var html_6dd0d3ae69caab4034f0086ce1ce8ed4 = $(`<div id="html_6dd0d3ae69caab4034f0086ce1ce8ed4" style="width: 100.0%; height: 100.0%;">NBL FERRAGEM LTDA</div>`)[0];
                popup_cef00e1902e93c99b9b0d4a27913397b.setContent(html_6dd0d3ae69caab4034f0086ce1ce8ed4);
            
        

        circle_marker_5e7e9a1b9bd135709b177a94bcd00107.bindPopup(popup_cef00e1902e93c99b9b0d4a27913397b)
        ;

        
    
    
            var circle_marker_8821b3c462899218f37f8956db50257f = L.circleMarker(
                [-30.0397447, -51.1714578],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_2b977134c9db3cddab46a2b0173172e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_b338c383abac99c76fefc8168950cdd5 = $(`<div id="html_b338c383abac99c76fefc8168950cdd5" style="width: 100.0%; height: 100.0%;">CARLESSO TINTAS LTDA</div>`)[0];
                popup_2b977134c9db3cddab46a2b0173172e7.setContent(html_b338c383abac99c76fefc8168950cdd5);
            
        

        circle_marker_8821b3c462899218f37f8956db50257f.bindPopup(popup_2b977134c9db3cddab46a2b0173172e7)
        ;

        
    
    
            var circle_marker_7808004352edc68ac2a75d5252d932c3 = L.circleMarker(
                [-29.9007846, -51.0693859],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_e11eb2eee237b76261906bec39de97ba = L.popup({"maxWidth": "100%"});

        
            
                var html_b11d04389e76ace02fa4c03ac2eb16ce = $(`<div id="html_b11d04389e76ace02fa4c03ac2eb16ce" style="width: 100.0%; height: 100.0%;">LOREGIAN MAT DE CONSTRUCAO LTDA</div>`)[0];
                popup_e11eb2eee237b76261906bec39de97ba.setContent(html_b11d04389e76ace02fa4c03ac2eb16ce);
            
        

        circle_marker_7808004352edc68ac2a75d5252d932c3.bindPopup(popup_e11eb2eee237b76261906bec39de97ba)
        ;

        
    
    
            var circle_marker_602155fdc2590c98058acbc254119e30 = L.circleMarker(
                [-29.9116529, -51.0763496],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_ac62f517f1d9a8f247be19dd571afc49 = L.popup({"maxWidth": "100%"});

        
            
                var html_4f89f40d5cc4e7b6f3ffe3537ff30aa7 = $(`<div id="html_4f89f40d5cc4e7b6f3ffe3537ff30aa7" style="width: 100.0%; height: 100.0%;">SANTO MOACIR DA SILVA</div>`)[0];
                popup_ac62f517f1d9a8f247be19dd571afc49.setContent(html_4f89f40d5cc4e7b6f3ffe3537ff30aa7);
            
        

        circle_marker_602155fdc2590c98058acbc254119e30.bindPopup(popup_ac62f517f1d9a8f247be19dd571afc49)
        ;

        
    
    
            var circle_marker_3a3285d60d49c5600e5643a39fd01100 = L.circleMarker(
                [-30.0486462, -51.2017044],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_f23a50f1faf29b15c6bd7dce9febc613 = L.popup({"maxWidth": "100%"});

        
            
                var html_b4804aeacbe858c0169cf0099e71742b = $(`<div id="html_b4804aeacbe858c0169cf0099e71742b" style="width: 100.0%; height: 100.0%;">COMERCIAL DE FERRAGENS EDC LTDA</div>`)[0];
                popup_f23a50f1faf29b15c6bd7dce9febc613.setContent(html_b4804aeacbe858c0169cf0099e71742b);
            
        

        circle_marker_3a3285d60d49c5600e5643a39fd01100.bindPopup(popup_f23a50f1faf29b15c6bd7dce9febc613)
        ;

        
    
    
            var circle_marker_0c5ce13e94a6966a8074197fbb650c81 = L.circleMarker(
                [-30.0504288, -51.2004538],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_9cd357b4e5489bfb60dc10a2f718cc25 = L.popup({"maxWidth": "100%"});

        
            
                var html_d6dad787ef89b45feddbf952bda30c13 = $(`<div id="html_d6dad787ef89b45feddbf952bda30c13" style="width: 100.0%; height: 100.0%;">J F CONFIANCA COMERCIO EIRELI</div>`)[0];
                popup_9cd357b4e5489bfb60dc10a2f718cc25.setContent(html_d6dad787ef89b45feddbf952bda30c13);
            
        

        circle_marker_0c5ce13e94a6966a8074197fbb650c81.bindPopup(popup_9cd357b4e5489bfb60dc10a2f718cc25)
        ;

        
    
    
            var circle_marker_482925588a347a09398d8bb44070beea = L.circleMarker(
                [-29.9138613, -51.0325279],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_de01923f0784eea70e5dc5bef370daed = L.popup({"maxWidth": "100%"});

        
            
                var html_af780c43daa0d14fdb36c85d9a499078 = $(`<div id="html_af780c43daa0d14fdb36c85d9a499078" style="width: 100.0%; height: 100.0%;">DARCI A CARDOSO</div>`)[0];
                popup_de01923f0784eea70e5dc5bef370daed.setContent(html_af780c43daa0d14fdb36c85d9a499078);
            
        

        circle_marker_482925588a347a09398d8bb44070beea.bindPopup(popup_de01923f0784eea70e5dc5bef370daed)
        ;

        
    
    
            var circle_marker_22e8bae7a2947f34da6a70ceef69509e = L.circleMarker(
                [-30.0001689, -51.3081841],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_41c3e4f3df4910c3bfcb1c80ae801d3b = L.popup({"maxWidth": "100%"});

        
            
                var html_6fc01a3317991e35588ab517d8e0ef91 = $(`<div id="html_6fc01a3317991e35588ab517d8e0ef91" style="width: 100.0%; height: 100.0%;">K S M MAT.CONST. LTDA</div>`)[0];
                popup_41c3e4f3df4910c3bfcb1c80ae801d3b.setContent(html_6fc01a3317991e35588ab517d8e0ef91);
            
        

        circle_marker_22e8bae7a2947f34da6a70ceef69509e.bindPopup(popup_41c3e4f3df4910c3bfcb1c80ae801d3b)
        ;

        
    
    
            var circle_marker_635bea7cc5b1b635768bf50d76017956 = L.circleMarker(
                [-30.0150186, -51.0472038],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_d8ab21c30263ed514700664652258116 = L.popup({"maxWidth": "100%"});

        
            
                var html_bb26b1f7d0380d8e64dd02a842fd97b6 = $(`<div id="html_bb26b1f7d0380d8e64dd02a842fd97b6" style="width: 100.0%; height: 100.0%;">COML DE FERRAGENS JANTARA LTDA</div>`)[0];
                popup_d8ab21c30263ed514700664652258116.setContent(html_bb26b1f7d0380d8e64dd02a842fd97b6);
            
        

        circle_marker_635bea7cc5b1b635768bf50d76017956.bindPopup(popup_d8ab21c30263ed514700664652258116)
        ;

        
    
    
            var circle_marker_65f60d4a8ef7d847fda5af5da8a75201 = L.circleMarker(
                [-29.99923725, -51.07308785739638],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_5a825c7fe2849027aff2d9f9261caa6c = L.popup({"maxWidth": "100%"});

        
            
                var html_4d73b083e24ea9498ab49a94c2e1727c = $(`<div id="html_4d73b083e24ea9498ab49a94c2e1727c" style="width: 100.0%; height: 100.0%;">MARIA GARCIA COLLIONI</div>`)[0];
                popup_5a825c7fe2849027aff2d9f9261caa6c.setContent(html_4d73b083e24ea9498ab49a94c2e1727c);
            
        

        circle_marker_65f60d4a8ef7d847fda5af5da8a75201.bindPopup(popup_5a825c7fe2849027aff2d9f9261caa6c)
        ;

        
    
    
            var circle_marker_0bb6e976cef9a00b5be4709afb26b20b = L.circleMarker(
                [-30.0486462, -51.2017044],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_246ffa8f766c1525dfac4d3bf8d216d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_ae95906b48b6e9e653b5e6b8d21908fa = $(`<div id="html_ae95906b48b6e9e653b5e6b8d21908fa" style="width: 100.0%; height: 100.0%;">TINTAS BARUFFALDI LTDA</div>`)[0];
                popup_246ffa8f766c1525dfac4d3bf8d216d6.setContent(html_ae95906b48b6e9e653b5e6b8d21908fa);
            
        

        circle_marker_0bb6e976cef9a00b5be4709afb26b20b.bindPopup(popup_246ffa8f766c1525dfac4d3bf8d216d6)
        ;

        
    
    
            var circle_marker_ce2b85058da2291c34914029aa0f5de6 = L.circleMarker(
                [-30.117735, -51.3441648],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_404b7be60c65f3672662e55dc9169007 = L.popup({"maxWidth": "100%"});

        
            
                var html_700f12a31946f6120ae6a3b7bc355dd4 = $(`<div id="html_700f12a31946f6120ae6a3b7bc355dd4" style="width: 100.0%; height: 100.0%;">ANGELA MARIA LOURENZI PEREIRA</div>`)[0];
                popup_404b7be60c65f3672662e55dc9169007.setContent(html_700f12a31946f6120ae6a3b7bc355dd4);
            
        

        circle_marker_ce2b85058da2291c34914029aa0f5de6.bindPopup(popup_404b7be60c65f3672662e55dc9169007)
        ;

        
    
    
            var circle_marker_9b731f0c5e3b54ac9e6997571c97a5a2 = L.circleMarker(
                [-30.0375892, -51.1944562],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_4e843bbe29849f1700635de8c3688547 = L.popup({"maxWidth": "100%"});

        
            
                var html_ac437bd45e897d3c058de1acaf84e7b7 = $(`<div id="html_ac437bd45e897d3c058de1acaf84e7b7" style="width: 100.0%; height: 100.0%;">FERRAGEM THONY LTDA</div>`)[0];
                popup_4e843bbe29849f1700635de8c3688547.setContent(html_ac437bd45e897d3c058de1acaf84e7b7);
            
        

        circle_marker_9b731f0c5e3b54ac9e6997571c97a5a2.bindPopup(popup_4e843bbe29849f1700635de8c3688547)
        ;

        
    
    
            var circle_marker_3e8dca1f10d6eb66e7b82237e57729c5 = L.circleMarker(
                [-30.1335443, -51.2309003],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_586bf409a654a4304bca810f7837ce86 = L.popup({"maxWidth": "100%"});

        
            
                var html_02357303acc5627a15d828f09f06c841 = $(`<div id="html_02357303acc5627a15d828f09f06c841" style="width: 100.0%; height: 100.0%;">FMA GROFF MADEIREIRA LTDA</div>`)[0];
                popup_586bf409a654a4304bca810f7837ce86.setContent(html_02357303acc5627a15d828f09f06c841);
            
        

        circle_marker_3e8dca1f10d6eb66e7b82237e57729c5.bindPopup(popup_586bf409a654a4304bca810f7837ce86)
        ;

        
    
    
            var circle_marker_1a4ca153626a7a87277fed85564a5acc = L.circleMarker(
                [-30.2372192, -50.236148],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_d9428f924b605207b614a4ff13932711 = L.popup({"maxWidth": "100%"});

        
            
                var html_1e5076c59aad868253fa52411b5be9f1 = $(`<div id="html_1e5076c59aad868253fa52411b5be9f1" style="width: 100.0%; height: 100.0%;">BAZAR E FERRAGEM M G D LTDA</div>`)[0];
                popup_d9428f924b605207b614a4ff13932711.setContent(html_1e5076c59aad868253fa52411b5be9f1);
            
        

        circle_marker_1a4ca153626a7a87277fed85564a5acc.bindPopup(popup_d9428f924b605207b614a4ff13932711)
        ;

        
    
    
            var circle_marker_5faa74e73346c205a28d50a572a38e2c = L.circleMarker(
                [-30.0397447, -51.1714578],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_facfd291c2a55fd7337ab4b21e1d8ea1 = L.popup({"maxWidth": "100%"});

        
            
                var html_ffb6877dd30f2c13f58903247de7f93a = $(`<div id="html_ffb6877dd30f2c13f58903247de7f93a" style="width: 100.0%; height: 100.0%;">OLIVEIRA MAT DE CONST LTDA ME</div>`)[0];
                popup_facfd291c2a55fd7337ab4b21e1d8ea1.setContent(html_ffb6877dd30f2c13f58903247de7f93a);
            
        

        circle_marker_5faa74e73346c205a28d50a572a38e2c.bindPopup(popup_facfd291c2a55fd7337ab4b21e1d8ea1)
        ;

        
    
    
            var circle_marker_c18123d342aea0e72defd1cdccf8a2f3 = L.circleMarker(
                [-30.0005599, -51.3164753],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_0c60655ade4968d58ce2dee3fbccf151 = L.popup({"maxWidth": "100%"});

        
            
                var html_37e2d07ee543b003cb485fe4debfc8a6 = $(`<div id="html_37e2d07ee543b003cb485fe4debfc8a6" style="width: 100.0%; height: 100.0%;">BAUM BAUM FERRAGEM LTDA</div>`)[0];
                popup_0c60655ade4968d58ce2dee3fbccf151.setContent(html_37e2d07ee543b003cb485fe4debfc8a6);
            
        

        circle_marker_c18123d342aea0e72defd1cdccf8a2f3.bindPopup(popup_0c60655ade4968d58ce2dee3fbccf151)
        ;

        
    
    
            var circle_marker_399e81c8a37c225c1e8ccfe7d3a03ef5 = L.circleMarker(
                [-30.078143, -51.0497985],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_3df7ad635cc432fe72b4c5e42007c73f = L.popup({"maxWidth": "100%"});

        
            
                var html_b6b4ee65ac3694e2b865745d17945e63 = $(`<div id="html_b6b4ee65ac3694e2b865745d17945e63" style="width: 100.0%; height: 100.0%;">MAD. DEPAULI LTDA</div>`)[0];
                popup_3df7ad635cc432fe72b4c5e42007c73f.setContent(html_b6b4ee65ac3694e2b865745d17945e63);
            
        

        circle_marker_399e81c8a37c225c1e8ccfe7d3a03ef5.bindPopup(popup_3df7ad635cc432fe72b4c5e42007c73f)
        ;

        
    
    
            var circle_marker_a8f8007a9336b48f7a24bf68ef2ea01a = L.circleMarker(
                [-29.9365579, -51.0805637],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_667564905211fb6090938964017ae877 = L.popup({"maxWidth": "100%"});

        
            
                var html_ff040b9af03235379c1a14f2fd8f5a78 = $(`<div id="html_ff040b9af03235379c1a14f2fd8f5a78" style="width: 100.0%; height: 100.0%;">NUNES E MENEGAS LTDA</div>`)[0];
                popup_667564905211fb6090938964017ae877.setContent(html_ff040b9af03235379c1a14f2fd8f5a78);
            
        

        circle_marker_a8f8007a9336b48f7a24bf68ef2ea01a.bindPopup(popup_667564905211fb6090938964017ae877)
        ;

        
    
    
            var circle_marker_55f021ee1d8f3aa4c137d9f4cab456e1 = L.circleMarker(
                [-30.1317492, -51.2348642],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_f160a6e42cf95b0a06daf63296eae61e = L.popup({"maxWidth": "100%"});

        
            
                var html_1540ddebc17d0b9c7511b3a4b9caa8fc = $(`<div id="html_1540ddebc17d0b9c7511b3a4b9caa8fc" style="width: 100.0%; height: 100.0%;">ROBERTA BALESTRIN</div>`)[0];
                popup_f160a6e42cf95b0a06daf63296eae61e.setContent(html_1540ddebc17d0b9c7511b3a4b9caa8fc);
            
        

        circle_marker_55f021ee1d8f3aa4c137d9f4cab456e1.bindPopup(popup_f160a6e42cf95b0a06daf63296eae61e)
        ;

        
    
    
            var circle_marker_d21c0c7a415cd0710482b235a4b33dc5 = L.circleMarker(
                [-30.0286938, -51.080582],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_2e57a9595bc0b12d69a8422a1bead85a = L.popup({"maxWidth": "100%"});

        
            
                var html_d2e51cc4ced09f1754cc6a4b03fda3c3 = $(`<div id="html_d2e51cc4ced09f1754cc6a4b03fda3c3" style="width: 100.0%; height: 100.0%;">ZANOTELLI MATERIAIS DE CONS LTDA ME</div>`)[0];
                popup_2e57a9595bc0b12d69a8422a1bead85a.setContent(html_d2e51cc4ced09f1754cc6a4b03fda3c3);
            
        

        circle_marker_d21c0c7a415cd0710482b235a4b33dc5.bindPopup(popup_2e57a9595bc0b12d69a8422a1bead85a)
        ;

        
    
    
            var circle_marker_a5333feada4ca928c6bf575bc6d9032e = L.circleMarker(
                [-30.15919, -51.1606898],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_e206bbc609965275231a03b37b86b64e = L.popup({"maxWidth": "100%"});

        
            
                var html_3dfbcc9b70fcba7acbca38161e204d70 = $(`<div id="html_3dfbcc9b70fcba7acbca38161e204d70" style="width: 100.0%; height: 100.0%;">FERRAJAO MATS DE CONSTRUCAO EIRELI</div>`)[0];
                popup_e206bbc609965275231a03b37b86b64e.setContent(html_3dfbcc9b70fcba7acbca38161e204d70);
            
        

        circle_marker_a5333feada4ca928c6bf575bc6d9032e.bindPopup(popup_e206bbc609965275231a03b37b86b64e)
        ;

        
    
    
            var circle_marker_51be0940e596871c2ff4c0d86a7654f2 = L.circleMarker(
                [-29.9261342, -50.9214961],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_691aaf7d687fcaf99e8c48ea4a5780ce = L.popup({"maxWidth": "100%"});

        
            
                var html_aeda0b910ef7a5df2f7c8f5a67fa09ba = $(`<div id="html_aeda0b910ef7a5df2f7c8f5a67fa09ba" style="width: 100.0%; height: 100.0%;">MBJ MATS DE CONSTRUCAO LTDA</div>`)[0];
                popup_691aaf7d687fcaf99e8c48ea4a5780ce.setContent(html_aeda0b910ef7a5df2f7c8f5a67fa09ba);
            
        

        circle_marker_51be0940e596871c2ff4c0d86a7654f2.bindPopup(popup_691aaf7d687fcaf99e8c48ea4a5780ce)
        ;

        
    
    
            var circle_marker_bc56291bd371d52c82b807bf9ffbaaa8 = L.circleMarker(
                [-29.9398447, -51.0912394],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_23942eecee9099ef1c458dd1c0d0d4fa = L.popup({"maxWidth": "100%"});

        
            
                var html_f7d9fcc6e4ef2aefd03b2b6f78cb4c5c = $(`<div id="html_f7d9fcc6e4ef2aefd03b2b6f78cb4c5c" style="width: 100.0%; height: 100.0%;">MJ COM DE FERRAGENS LTDA</div>`)[0];
                popup_23942eecee9099ef1c458dd1c0d0d4fa.setContent(html_f7d9fcc6e4ef2aefd03b2b6f78cb4c5c);
            
        

        circle_marker_bc56291bd371d52c82b807bf9ffbaaa8.bindPopup(popup_23942eecee9099ef1c458dd1c0d0d4fa)
        ;

        
    
    
            var circle_marker_9b9a9a22c68f3238ebee3a3dfc90c278 = L.circleMarker(
                [-30.147442, -51.3343012],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_432ee7d102cc345ead658193297a0bc7 = L.popup({"maxWidth": "100%"});

        
            
                var html_400e536ad0c7ab0ea26486fc4dd0b226 = $(`<div id="html_400e536ad0c7ab0ea26486fc4dd0b226" style="width: 100.0%; height: 100.0%;">DEVIT E HOFF LTDA</div>`)[0];
                popup_432ee7d102cc345ead658193297a0bc7.setContent(html_400e536ad0c7ab0ea26486fc4dd0b226);
            
        

        circle_marker_9b9a9a22c68f3238ebee3a3dfc90c278.bindPopup(popup_432ee7d102cc345ead658193297a0bc7)
        ;

        
    
    
            var circle_marker_287e7ae52338d0ed9cecc4dc3ec5758b = L.circleMarker(
                [-30.103852152173914, -51.23610509565218],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_9c958d9bcc857692c06faaca15e97437 = L.popup({"maxWidth": "100%"});

        
            
                var html_6ea0496eee5fcd0e6aca167735ab491c = $(`<div id="html_6ea0496eee5fcd0e6aca167735ab491c" style="width: 100.0%; height: 100.0%;">VM FERRAGEM LTDA</div>`)[0];
                popup_9c958d9bcc857692c06faaca15e97437.setContent(html_6ea0496eee5fcd0e6aca167735ab491c);
            
        

        circle_marker_287e7ae52338d0ed9cecc4dc3ec5758b.bindPopup(popup_9c958d9bcc857692c06faaca15e97437)
        ;

        
    
    
            var circle_marker_d3847ae2e2a2edec8f66b5dd510db301 = L.circleMarker(
                [-29.955324349999998, -51.62606765895722],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_63e6e8aa267043e047a66d364079ea8b = L.popup({"maxWidth": "100%"});

        
            
                var html_1d99d25ed82375f3e395bdf0e94ab645 = $(`<div id="html_1d99d25ed82375f3e395bdf0e94ab645" style="width: 100.0%; height: 100.0%;">CACULA MAT PARA CONSTRUCOES LTDA</div>`)[0];
                popup_63e6e8aa267043e047a66d364079ea8b.setContent(html_1d99d25ed82375f3e395bdf0e94ab645);
            
        

        circle_marker_d3847ae2e2a2edec8f66b5dd510db301.bindPopup(popup_63e6e8aa267043e047a66d364079ea8b)
        ;

        
    
    
            var circle_marker_c59ecb7bd77c54a6f51cad6688395c0a = L.circleMarker(
                [-30.1850987, -51.1747929],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_c7657c5e5f9691bc9266cfcf4af4afdf = L.popup({"maxWidth": "100%"});

        
            
                var html_9ccefaddd3fecb23d90232b17867b340 = $(`<div id="html_9ccefaddd3fecb23d90232b17867b340" style="width: 100.0%; height: 100.0%;">FERRAGEM BERGAMASCHI LTDA ME</div>`)[0];
                popup_c7657c5e5f9691bc9266cfcf4af4afdf.setContent(html_9ccefaddd3fecb23d90232b17867b340);
            
        

        circle_marker_c59ecb7bd77c54a6f51cad6688395c0a.bindPopup(popup_c7657c5e5f9691bc9266cfcf4af4afdf)
        ;

        
    
    
            var circle_marker_76893f4b5e34cb7bfc8f1472216128dc = L.circleMarker(
                [-29.9063797, -50.0909266],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_c030253603ece4e23a39ca8efd0083a5 = L.popup({"maxWidth": "100%"});

        
            
                var html_ebf2501b00c7df3391c87ac8e24fb47b = $(`<div id="html_ebf2501b00c7df3391c87ac8e24fb47b" style="width: 100.0%; height: 100.0%;">ABELARDO WIRTTI MADEREIRA LTDA</div>`)[0];
                popup_c030253603ece4e23a39ca8efd0083a5.setContent(html_ebf2501b00c7df3391c87ac8e24fb47b);
            
        

        circle_marker_76893f4b5e34cb7bfc8f1472216128dc.bindPopup(popup_c030253603ece4e23a39ca8efd0083a5)
        ;

        
    
    
            var circle_marker_ecfd3f3f66ca052565ce5f7bda7c3fd3 = L.circleMarker(
                [-30.185479, -51.1746216],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_64afebb4f37482cb40ec0ebb14f424ea = L.popup({"maxWidth": "100%"});

        
            
                var html_0b7953671e9b07bcf0e1d7dd33a160a6 = $(`<div id="html_0b7953671e9b07bcf0e1d7dd33a160a6" style="width: 100.0%; height: 100.0%;">TERRA MATS PARA CONST E FERRAGENS L</div>`)[0];
                popup_64afebb4f37482cb40ec0ebb14f424ea.setContent(html_0b7953671e9b07bcf0e1d7dd33a160a6);
            
        

        circle_marker_ecfd3f3f66ca052565ce5f7bda7c3fd3.bindPopup(popup_64afebb4f37482cb40ec0ebb14f424ea)
        ;

        
    
    
            var circle_marker_c00db3d2fc4fb6dcde852fccfe570042 = L.circleMarker(
                [-30.3908019, -51.7382669],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_7a1f15ef892b57886e90a65d1b3ef04b = L.popup({"maxWidth": "100%"});

        
            
                var html_75cf3bb804e59c0ff2af93f3f19257c2 = $(`<div id="html_75cf3bb804e59c0ff2af93f3f19257c2" style="width: 100.0%; height: 100.0%;">COML DE FERRAGENS DO ALEMAO LTDA EP</div>`)[0];
                popup_7a1f15ef892b57886e90a65d1b3ef04b.setContent(html_75cf3bb804e59c0ff2af93f3f19257c2);
            
        

        circle_marker_c00db3d2fc4fb6dcde852fccfe570042.bindPopup(popup_7a1f15ef892b57886e90a65d1b3ef04b)
        ;

        
    
    
            var circle_marker_3f8b2a24e0163e946429153d71ea60f8 = L.circleMarker(
                [-29.8549795, -50.0667218],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_e237565ac0d714ac9393780cac7a74a9 = L.popup({"maxWidth": "100%"});

        
            
                var html_47537a5bfc21f37f0dd5430c9740813a = $(`<div id="html_47537a5bfc21f37f0dd5430c9740813a" style="width: 100.0%; height: 100.0%;">COML DE TINTAS CUNHA LTDA</div>`)[0];
                popup_e237565ac0d714ac9393780cac7a74a9.setContent(html_47537a5bfc21f37f0dd5430c9740813a);
            
        

        circle_marker_3f8b2a24e0163e946429153d71ea60f8.bindPopup(popup_e237565ac0d714ac9393780cac7a74a9)
        ;

        
    
    
            var circle_marker_8de4818673167d4f7155c06d54606244 = L.circleMarker(
                [-30.1086049, -51.3127909],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_02236dda11bb8a165b6fff61c08ae74e = L.popup({"maxWidth": "100%"});

        
            
                var html_3b35025ed7f907154939fd0021738cf7 = $(`<div id="html_3b35025ed7f907154939fd0021738cf7" style="width: 100.0%; height: 100.0%;">GRIS TINTAS LTDA</div>`)[0];
                popup_02236dda11bb8a165b6fff61c08ae74e.setContent(html_3b35025ed7f907154939fd0021738cf7);
            
        

        circle_marker_8de4818673167d4f7155c06d54606244.bindPopup(popup_02236dda11bb8a165b6fff61c08ae74e)
        ;

        
    
    
            var circle_marker_7dc0df0785b0cfba46407a466d833c60 = L.circleMarker(
                [-30.2133866, -51.129294],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_fc462e46f062d191e28be81676df7e8a = L.popup({"maxWidth": "100%"});

        
            
                var html_5a07ae174d8eabb71ed7babdaefac216 = $(`<div id="html_5a07ae174d8eabb71ed7babdaefac216" style="width: 100.0%; height: 100.0%;">QUADROS PACHECO LTDA</div>`)[0];
                popup_fc462e46f062d191e28be81676df7e8a.setContent(html_5a07ae174d8eabb71ed7babdaefac216);
            
        

        circle_marker_7dc0df0785b0cfba46407a466d833c60.bindPopup(popup_fc462e46f062d191e28be81676df7e8a)
        ;

        
    
    
            var circle_marker_7f041bc6e9c7696d3aa7f0b6d37fbcdb = L.circleMarker(
                [-30.0999926, -51.2647387],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_af841111b3569f9efeb2f422b5ec24cc);
        
    
        var popup_e022a4a3a052662f39c55bffd3cfc2ad = L.popup({"maxWidth": "100%"});

        
            
                var html_0b2eaf1462ee820b67fe8114a8b1e06d = $(`<div id="html_0b2eaf1462ee820b67fe8114a8b1e06d" style="width: 100.0%; height: 100.0%;">FERRAGEM ASSUNCAO LTDA</div>`)[0];
                popup_e022a4a3a052662f39c55bffd3cfc2ad.setContent(html_0b2eaf1462ee820b67fe8114a8b1e06d);
            
        

        circle_marker_7f041bc6e9c7696d3aa7f0b6d37fbcdb.bindPopup(popup_e022a4a3a052662f39c55bffd3cfc2ad)
        ;

        
    
</script>
</html>